extends layout

block content
  header
    h1= title
    button(type="button" id="vid-btn" class="vid-btn" value="Video") Video

  div(id='chat-board-container' class='chat-board-container')
    ul(id='chat-board' class='chat-board')
      if chatText
        each post in chatText
          li
            span(class="chat-username")=`${post[0]}: `
            span(class="chat-time")=post[1]
            p(class="chat-msg")=post[2]

    p(id="is-typing" class="is-typing")

  //- - var prevText = document.getElementById('board').innerHTML;
  form(autocomplete="off" id="chat-form" class="chat-form")
    label(for='chat-box') 
      textarea(name='text' type='text' id='chat-input' class='chat-input' autocomplete="false" autofocus="on" placeholder="What you gotta say?")
    button(type='submit') Submit

  div(id="sign-in-container" class="sign-in-container")
    form(autocomplete="off" id="sign-in-form" class="sign-in-form")
      label(for='sign-in') Your username?
        input(name='text' type='text' id='username-input' class='username-input' autocomplete="false" autofocus="on" placeholder="Username")
      button(type='submit') Submit
