doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/normalize.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(src="../../socket.io/socket.io.js")
  body
    block content

    script(type="text/javascript" src="/static/js/script.js")
